/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(223, 78%, 21%);
  font-family: 'Urbanist', sans-serif;
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* 
header
 */

/* title */
header h1 {
  text-align: center;
  color: #fdfdfd;
  margin-bottom: 1rem;
}

/* choices */
.choices {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.single-choice {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  background: hsl(223, 78%, 11%);
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid hsl(223, 78%, 11%);
  cursor: pointer;
}
.single-choice:hover {
  border-color: #fdfdfd;
}
.single-choice.active {
  border-color: #fdfdfd;
}

.single-choice h3 {
  color: #fdfdfd;
}
.single-choice .far {
  color: #b8e994;
}
.single-choice .fas {
  color: #82ccdd;
}

/* turn */
.turn {
  text-align: center;
  color: #fdfdfd;
  margin-top: 2rem;
}
.header-circle {
  color: #b8e994;
}
.header-times {
  color: #82ccdd;
}

/* 
game 
*/
.game {
  width: 400px;
  height: 400px;
  background: hsl(223, 78%, 11%);
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #fdfdfd;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.box .circle,
.box .times {
  font-size: 4rem;
}
.circle {
  color: #b8e994;
}
.times {
  color: #82ccdd;
}

/* 
footer 
*/
.winner {
  text-align: center;
  color: #fdfdfd;
  font-size: 20px;
  margin-bottom: 2rem;
}

.reset {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background: #eb2f06;
  color: #fdfdfd;
  cursor: pointer;
  font-family: 'Urbanist', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}
